beautifulsoup4==4.12.3
docx==0.2.4
fastapi==0.115.6
langchain==0.3.13
langchain_community==0.3.13
numpy==2.2.1
pandas==2.2.3
pydantic==2.10.4
pypdf==5.1.0
PyPDF2==3.0.1
Requests==2.32.3
scikit_learn==1.6.0
selenium==4.27.1
textract==1.6.5
torch==2.5.1
transformers==4.47.1
uvicorn==0.34.0
webdriver_manager==4.0.2
